@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2,h3, h4, h5,h6 {
  font-weight: 700;
}

p{
  margin-bottom: 0px;
}

.doa{
  font-weight: 300;
  font-style: italic;
}